header, hgroup, nav, footer, section, article, figure, figcaption, aside{display:block;
}


body{ background-color: #FFFFFF;
	  color:#666666;
	  
	  font-family: Arial, Helvetica, sans serif;
}

#wrapper{margin-left: auto;
		margin-right: auto;
		background-color: #90C7E3;
		width: 80%;
		min-width: 960px;
		box-shadow: 5px 5px 5px #000033;
}

#content{background-color: #FFFFFF;
		padding-left: 30px;
		padding-right: 20px;
		padding-top: 1px;
		padding-bottom: 20px;
		margin-left: 190px;
		
}

#content img{float:left;
			padding-right: 20px;
			

}

header{background-color: #000033;
		color:#FFFFFF;

} 

h1 {
	background-position: right;
	background-repeat: no-repeat;
	background-color: #000033;
		color:#FFFFFF;
		margin-bottom: 0;
		padding: 10px;
		font-family: Georgia, "Times New Roman", serif;
}
	
nav{	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	float: left;
	width: 160px;
	
}	

nav ul{list-style-type: none;
		margin: 0;
		padding-left: 0px;
		font-size: 1.2em;
}

nav a{text-decoration: none;
	
}

nav a:link{color:#000033;
}

nav a:visited{color:#344873;
}

nav a:hover{color:#FFFFFF;
}

h2{color:#3399CC;
	font-family: Georgia,"Times New Roman", serif;
}	

h3{color:#000033;
	font-family: Georgia,"Times New Roman", serif;
	text-shadow: 1px 1px 1px #ccc;
}
	
		
dt{color:#000033;

}



}

#contact{font-size: 90%;
}

.resort{color:#5C7FA3;
		font-weight: bold;
}
	
footer{padding: 20px;
		font-size:75%;
		font-family: Georgia,"Times New Roman", serif;
		font-style:italic;
		background-color: #FFFFFF;
		margin-left: 190px;
}
  
table {border: 1px solid #3399CC; 
	 width: 80%;
	 border-spacing: 0;
}  
  
td, th{padding: 5px;
	  border: 1px solid #3399CC;
	  text-align: center;
 } 

tr:nth-of-type(odd){background-color:#F5FAFC;
}
 
.text{text-align:left;
}

#mobile{display:none;
}  

#desktop{display:inline;
}

img{max-width:100%;
	height: auto;
}

@media only screen and (max-width:768px){

body{margin: 0;
}
	
#wrapper{min-width:0px;
	width:auto;
}
	
#content{margin-left: 0px;
}
	
nav{float: none;
	width: auto;
	padding: 0px;
}
nav ul{text-align: center;
}

nav li{display: inline;
	padding-top:0px;
	padding-bottom: 0px;
	padding-left: 0.75em;
	padding-right: 0.75em;
}

footer{margin-left: 0;
}  

} 


@media only screen and (max-width: 480px){

body{margin: 0;
}
	
#wrapper{min-width:0px;
	width:auto;
	margin: 0;
	
}
	
#content{margin: 0px;
		padding-top:0.1em;
		padding-bottom: 0.1em;
		padding-left: 1em;
		padding-right: 1em;
		font-size:90%;
}

h1{margin: 0;
	font-size:1.5em;
	padding-left:0.3em;

}	
nav{float: none;
	width: auto;
	padding: 0px;
}
nav ul{padding:0;
}

nav li{display: block;
	margin: 0;
	border-bottom: 2px solid #330000;
}

nav a{display:block;
	
}



}

#mobile{display:inline;
}
#desktop{display:none;
}

}