﻿@model IEnumerable<Homework6.Models.ProductCategory>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<ul class = "list-group">
    @foreach (var item in Model)
    {

            

            <li class= "list-group-item">@Html.ActionLink(item.Name, "SubCategory", "Products", new { id = item.ProductCategoryID }, "")
            </li>         


    }

</ul>