﻿
@{
    ViewBag.Title = "Index";
}

<h2>Homework 4</h2>

<p> Example of a paragraph</p>

<ul>
     
    <li>@Html.ActionLink("Page 1", "Page1", "Home")</li>
    <li>@Html.ActionLink("Page 2", "Page2", "Home")</li>
    <li>@Html.ActionLink("Page 3", "Page3", "Home")</li>
    

</ul>

