﻿
@{
    ViewBag.Title = "Page2";
}

<h2>Page2</h2>

<form method="post">
    <label>What's your name again? </label>
    <input type="text" name="Name" /><br />
    <label>Old Password  </label>
    <input type="text" name="OldPassword" /><br />
    <label>New Password:  </label>
    <input type="text" name="NewPassword" />
    <input type="submit" name="submit" value="Lets change that password" />
</form>

<p>@ViewBag.message</p>