﻿
@{
    ViewBag.Title = "Page1";
}

<h2>Page1</h2>

<p>This page will show dynamic data going from the server side to the client.</p>

<p>So....what's your name? =)</p>
<form method= "post">
    <label>FirstName: </label>
    <input type="text" name="FirstName"/><br />
    <label>LastName: </label>
    <input type="text" name="LastName" /><br />

    <input type="submit" name="submit" value="After typing your name please press here" />  
     
</form>

<p>@ViewBag.message</p>