﻿@model IEnumerable<Homework5.Models.User>



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.LabelFor(model => model.FirstOrDefault().FirstName)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().LastName)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().date)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().phoneNum)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().catalogYear)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().vId)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().email)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().major)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().minor)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().advisor)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.FirstName)</td>
            <td>@Html.DisplayFor(model => item.LastName)</td>
            <td>@Html.DisplayFor(model => item.date)</td>
            <td>@Html.DisplayFor(model => item.phoneNum)</td>
            <td>@Html.DisplayFor(model => item.catalogYear)</td>
            <td>@Html.DisplayFor(model => item.vId)</td>
            <td>@Html.DisplayFor(model => item.email)</td>
            <td>@Html.DisplayFor(model => item.major)</td>
            <td>@Html.DisplayFor(model => item.minor)</td>
            <td>@Html.DisplayFor(model => item.advisor)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

