﻿@model IEnumerable<Homework6.Models.ProductSubcategory>

@{
    ViewBag.Title = "SubCategory";
}

<h2>SubCategory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.Name, "ViewProducts", "Products", new { id = item.ProductSubcategoryID }, "")


    </li>

    }

</ul>