﻿@model IEnumerable<Homework6.Models.Product>

@{
    ViewBag.Title = "ViewProducts";
}

<h2>ViewProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.Name, "DescriptionProduct", "Products", new { id = item.ProductID }, "")


        </li>

    }

</ul>
