﻿
@{
    ViewBag.Title = "Index";
}

<h1>StarWars</h1>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }
</style>
<body>

    <h3>SHOW ME THE MOVIES!!!..That the actor has worked in!</h3>

    <form action="">
        <select name="actors" onchange="showActor(this.value)">
            <option value="">Select an Actor</option>
            <option value="FELICITY">Felicity Jones</option>
            <option value="MADS">Mads Mikkelsen</option>
            <option value="BENEDICT">Benedict Cumberbatch</option>
            <option value="RACHEL">Rachel McAdams</option>
        </select>
    </form>
    <br>
    <div id="txtHint">Their Name, Movies and Directors will show here...</div>

    <script>
function showActor(str) {
  var xhttp;
  if (str == "") {
    document.getElementById("txtHint").innerHTML = "";
    return;
  }
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("txtHint").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "FinalsDB.mdf", true);
  xhttp.send();
}
    </script>

</body>